/CodeCalisthenics/obj/*

/CodeCalisthenics/bin/*
/CodeCalisthenics.sln.DotSettings.user
/Tests/Operators.Test/bin/Debug/*
/Tests/Operators.Test/obj/*
/Tests/CodeCalisthenics.Test/bin/*
/Tests/CodeCalisthenics.Test/obj/*
